.timelineToolbar {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 0;
    right: 0;
    gap: 10px;
    justify-content: center;
}

.framesContainer {
    display: flex;
    gap: 4px;
}

.button {

}

.paused {

}

.frame {
    background: white;
    border: 1px solid #82868b;
    height: 20px;
    width: 8px;
    border-radius: 2px;
}

.activeFrame {
    background: #F57376;
}
